@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
    min-height: 100vh;
  }
  body {
    min-height: 100vh;
  }
  #__next {
    min-height: 100vh;
  }
}

@layer components {
  .navigation {
    @apply flex gap-2 h-16 z-20 bg-slate-700 sticky top-0 left-0 w-full justify-start;
  }
  .navigation > .navLogo {
    @apply flex gap-2 items-center text-white font-bold;
  }
  .navigation > .navLogo .logo {
    @apply h-16;
  }
  .navigation > .navLinks {
    @apply flex gap-2 items-center text-white font-bold;
  }
  .navigation > .navLinks > .linkParent > a.link {
    @apply p-2 text-white text-center flex gap-2 items-center;
  }
  .navigation > .navLinks > .linkParent.current > a.link {
    @apply p-2 text-white bg-green-700 rounded-3xl;
  }
  .navigation > .navLinks > .linkParent > a.link > .navIcon {
    @apply stroke-white fill-white w-8 h-8;
  }
  .navigation > .navLinks > .linkParent.current > a.link > .navIcon {
    @apply stroke-white fill-white w-8 h-8;
  }
  .navigation > .navLang {
    @apply flex gap-2 items-center text-white font-bold ml-auto mr-2;
  }
  .navigation > .navLang > .active {
    @apply border-b-2 border-white;
  }

  .main {
    @apply grow flex;
  }

  .welcome {
    @apply w-full m-0 px-2 flex flex-col items-center grow bg-leaf-pattern bg-no-repeat bg-cover bg-center;
  }
  .welcome > .section {
    @apply w-3/4 px-6 flex flex-col justify-center items-center my-4 border-2 border-gray-300 backdrop-blur-lg bg-gray-600 bg-opacity-40 rounded-md;
  }
  .welcome > .section > h1 {
    @apply text-4xl text-white font-bold my-4;
  }
  .welcome > .section > p {
    @apply text-xl text-white font-bold my-4 text-center;
  }
  .welcome > .section > p > a {
    @apply text-xl text-blue-500 hover:border-b-2 hover:border-b-blue-500 font-bold my-4 text-center;
  }

  .hausrat {
    @apply w-full m-0 px-2 flex flex-col items-center grow bg-bauhaus-fade bg-center;
  }
  .hausrat > .section {
    @apply w-3/4 px-6 flex flex-col items-center my-4 border-2 border-gray-300 backdrop-blur-lg bg-gray-600 bg-opacity-40 rounded-md;
  }
  .hausrat > .section > h1 {
    @apply text-4xl text-white font-bold my-4;
  }
  .hausrat > .section > .explain {
    @apply border-2 border-gray-300 px-6 flex flex-col justify-center mb-4 py-4 rounded-md backdrop-blur-md  text-white w-2/3 bg-gray-600 bg-opacity-40;
  }
  .hausrat > .section > .explain > h2 {
    @apply font-bold text-xl pb-1 border-b border-gray-400 border-opacity-50;
  }
  .hausrat > .section > .explain > ul {
    @apply list-disc list-inside;
  }
  .hausrat > .section > .pay {
    @apply border-2 border-gray-300 px-6 flex flex-col justify-center mb-4 py-4 rounded-md backdrop-blur-md  text-white w-2/3 bg-gray-600 bg-opacity-40;
  }
  .hausrat > .section > .pay > div {
    @apply border-b-2 border-gray-300 px-2 flex flex-col justify-center mb-4 py-4 text-white border-opacity-60;
  }
  .hausrat > .section > .pay > div > h2 {
    @apply font-bold text-xl border-b pb-2 border-opacity-50 border-b-gray-400;
  }

  .numberInput {
    @apply relative max-w-xs pt-4 my-2;
  }
  .numberInput-text {
    @apply absolute -top-2 -z-10 transition-transform text-white;
  }
  .numberInput-input {
    @apply bg-transparent border-green-500 w-full pl-2 border-b-2 focus-visible:outline-none text-white;
  }
  .numberInput-text.empty {
    @apply translate-y-5;
  }
  .numberInput-input:focus-visible + .numberInput-text {
    @apply translate-y-0;
  }

  .textInput {
    @apply relative max-w-xs pt-4 my-2;
  }
  .textInput-text {
    @apply absolute -top-2 -z-10 transition-transform text-white;
  }
  .textInput-input {
    @apply bg-transparent border-green-500 w-full pl-2 border-b-2 focus-visible:outline-none text-white;
  }
  .textInput-text.empty {
    @apply translate-y-5;
  }
  .textInput-input:focus-visible + .textInput-text {
    @apply translate-y-0;
  }

  .schaden {
    @apply w-full m-0 px-2 flex flex-col items-center grow bg-triangles-fade bg-center;
  }
  .schaden > .section {
    @apply w-3/4 px-6 flex flex-col items-center mt-4 border-2 border-gray-300 backdrop-blur-lg bg-gray-600 bg-opacity-40 rounded-md;
  }
  .schaden > .section > h1 {
    @apply text-4xl text-white font-bold my-4;
  }
  .schaden > .section > .form {
    @apply border-2 border-gray-300 px-6 flex flex-col justify-center items-center mb-4 py-4 rounded-md backdrop-blur-lg w-2/3 bg-gray-600 bg-opacity-40;
  }
  .schaden > .section > .results {
    @apply border-2 border-gray-300 px-6 flex flex-col justify-center mb-4 py-4 rounded-md backdrop-blur-md  text-white w-2/3 bg-gray-600 bg-opacity-40;
  }
  .schaden > .section > .results > .result-item {
    @apply flex gap-2;
  }
  .schaden > .section > .results > .result-item > h2 {
    @apply font-bold;
  }
  .schaden > .section > .message {
    @apply border-2 border-gray-300 text-white mb-4 w-2/3 h-[4.5rem] rounded-md p-2 backdrop-blur-md bg-gray-600 bg-opacity-40;
  }
  .schaden > .section > .buttons {
    @apply flex gap-2 justify-center items-center w-2/3 bg-gray-600 bg-opacity-40 rounded-md backdrop-blur-md mb-4 border-2 border-gray-300;
  }

  .btn {
    @apply py-2 px-4 my-2 border-2 rounded-md border-green-500 text-white;
  }
  .btn:hover {
    @apply bg-green-500 text-black border-green-600;
  }

  .summe {
    @apply w-full m-0 px-2 flex flex-col items-center grow bg-circles-fade bg-center;
  }
  .summe > .section {
    @apply px-6 flex flex-col items-center mt-4 mb-4 border-2 border-gray-300 rounded-md backdrop-blur-lg bg-gray-600 bg-opacity-40 w-3/4;
  }
  .summe > .section > h1 {
    @apply text-4xl text-white font-bold my-4;
  }
  .summe > .section > .forms {
    @apply flex gap-2 w-2/3;
  }
  .summe > .section > .forms > .form {
    @apply flex flex-col justify-between border-2 border-gray-300 px-6 mb-4 py-4 rounded-md backdrop-blur-lg w-full bg-gray-600 bg-opacity-40;
  }
  .summe > .section > .forms > .form > .table {
    @apply inline-table border-2 border-collapse border-gray-300 px-6 mb-4 py-4 rounded-md backdrop-blur-lg bg-gray-600 bg-opacity-40;
  }
  .summe > .section > .forms > .form > .table > thead > .header > .title {
    @apply border-2 border-gray-300 px-1 text-white;
  }
  .summe > .section > .forms > .form > .table > thead {
    @apply bg-gray-600 bg-opacity-40;
  }
  .summe > .section > .forms > .form > .table > thead > .header > .button {
    @apply border-2 border-gray-300 px-1;
  }
  .summe > .section > .forms > .form > .table > tbody > .item > .inputs {
    @apply border-y-2 border-gray-300 px-1;
  }
  .summe > .section > .forms > .form > .table > tbody > .item > .buttons {
    @apply border-2 border-gray-300 px-2;
  }
  .summe > .section > .results {
    @apply border-2 border-gray-300 px-6 flex flex-col justify-center mb-4 py-4 rounded-md backdrop-blur-md w-2/3 text-white bg-gray-600 bg-opacity-40;
  }
  .summe > .section > .results > .result-item {
    @apply flex gap-2;
  }
  .summe > .section > .results > .result-item > h2 {
    @apply font-bold;
  }
  .summe > .section > .buttons {
    @apply flex gap-2 justify-center items-center w-2/3 bg-gray-600 bg-opacity-40 rounded-md backdrop-blur-md mb-4 border-2 border-gray-300;
  }
}
